@font-face {
  font-family: Lato;
  src: local("Lato Regular"), local("Lato-Regular"),
  url("../assets/fonts/lato-regular.woff2"),
  url("../assets/fonts/lato-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: local("Lato Bold"), local("Lato-Bold"),
  url("../assets/fonts/lato-bold.woff2"),
  url("../assets/fonts/lato-bold.woff");
  font-weight: 700;
}

html {
  position: relative;
  box-sizing: border-box;
  font-size: calc(10 * 100vw / 1920);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  color: var(--white);
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

fieldset {
  padding: 0;
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.col--size-s {
  grid-column-end: span 1;
}

.row--size-s {
  grid-row-end: span 1;
}


.col--size-m {
  grid-column-end: span 2;
}

.row--size-m {
  grid-row-end: span 2;
}

.col--size-xl {
  grid-column-end: span 4;
}

.col--size-2xl {
  grid-column-end: span 6;
}

.text--style-bold {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.text--style-extrabold {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}

@media (max-width: 1200px) {
  html {
    font-size: calc(10 * 100vw / 1024);
  }
}

@media (max-width: 800px) {
  html {
    font-size: calc(10 * 100vw / 768);
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(10 * 100vw / 320);
  }
}
