.card_size_xxl {
  grid-column: span 6;
  grid-row: span 2;
  /*padding: 100px 0;*/
}

@media (max-width: 1200px) {
  .card_size_xxl {
    grid-column: span 4;
  }
}

@media (max-width: 480px) {
  /*.card_size_xxl {*/
  /*  grid-column: span 2;*/
  /*  grid-row: span 3;*/
  /*}  */

  .card_size_xxl {
    grid-column: span 2;
    grid-row: span 1;
  }
}
