.search__button {
  position: absolute;
  right: 0;
  width: 10.1rem;
  height: 100%;
  background: #3670C7 url("../../../../assets/img/icons/search.svg") no-repeat center center;
  border: none;
  border-radius: 3rem;
}
