.header {
  padding-top: 27px;
}

.header__container  {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-areas: "logo logo menu menu menu search search search search search search search links links links links";
  justify-content: space-between;
}

.header__logo {
  grid-area: logo;
  align-self: end;
  width: 190px;
}

.header__menu-button {
  position: relative;
  grid-area: menu;
  justify-self: center;
  padding: 9px 28px 12px 61px;
  background: #3670C7;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
}

.header__menu-button:before {
  position: absolute;
  top: 15px;
  left: 30px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../assets/img/icons/menu.svg") no-repeat center center;
}

.header__links {
  grid-area: links;
  align-self: end;
  justify-self: right;
}

.header__link {
  position: relative;
  align-self: end;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #2D2D2D;
}

.header__link:not(:last-child) {
  margin-right: 70px;
}

.header__link:before {
  position: absolute;
  display: block;
  content: "";
}

.header__link--dst-profile:before {
  left: 22px;
  bottom: 31px;
  width: 24px;
  height: 24px;
  background: url("../../assets/img/icons/profile.svg") no-repeat center center;
}

.header__link--dst-cart:before {
  left: 22px;
  bottom: 28px;
  width: 30px;
  height: 30px;
  background: url("../../assets/img/icons/shopping-cart.svg") no-repeat center center;
}

.header__link--dst-favourites:before {
  left: 22px;
  bottom: 29px;
  width: 30px;
  height: 27.5px;
  background: url("../../assets/img/icons/favorites.svg") no-repeat center center;
}

.header__link--dst-cart {
  position: relative;
}

.header__link-mark {
  position: absolute;
  left: 45px;
  bottom: 45px;
  width: 14px;
  height: 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #3670C7;
  background: #FFFFFF;
  border-radius: 50%;
}
