.search-form {
  position: relative;
  grid-area: search;
  justify-self: center;
  width: 100%;
}

.search-form__input {
  width: 100%;
  padding: 15px 110px 18px 40px;
  background: #EFEFEF;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8F8F8F;
}

.search-form__button {
  position: absolute;
  right: 0;
  width: 101px;
  height: 54px;
  background: #3670C7 url("../../assets/img/icons/search.svg") no-repeat center center;
  border: none;
  border-radius: 30px;
}
