.header__link--dst-favourites:before {
  left: 1.6rem;
  bottom: 2.5rem;
  width: 3.6rem;
  height: 3.6rem;
  background: url("../../../../../assets/img/icons/favorites.svg") no-repeat center center;
}
